.container {
  padding: 0 2rem;
}
.bannerimage{
  background: url('../public/images/bannerImage.png');
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;

}
.backgound1{
  background: url('../public/images/background_2.png');
  background-size:cover;
  background-repeat: no-repeat;
}